* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;

}

header,
footer {
    background-color: #6C63FF;
}

header {
    height: 80px;
}


.my-btn {
    color: #FFFFFF;

    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background: transparent;
    width: 120px;
    height: 40px;
    text-transform: uppercase;

}

.main-title {
    font-weight: 700;
    font-size: 44px;
    color: #2F2E41;
    text-transform: uppercase;
    margin: 20px;
}

.cart-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #2F2E41;
    text-transform: uppercase;
}

.card {
    background-color: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 370px;
}

a {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}